<div class="main-header">

  <!-- SINISTRA NAV -->
  <div class="header-left">

    <button class="nav-btn" onclick="goDashboard()">
      🏠 Dashboard
    </button>

    <button class="nav-btn back" onclick="goBack()">
      ⬅️ Indietro
    </button>

  </div>

  <!-- CENTRO LOGO -->
  <div class="header-center">

    <img src="img/logo.png" class="header-logo">

    <h1>ALBERTO MALUSCI CAMP</h1>

  </div>
<script>
  // 🔒 PROTEZIONE GLOBALE

  const currentPage = window.location.pathname;

  // Se NON siamo nella index
  if (!currentPage.includes("index.html")) {

    const utenteLoggato = sessionStorage.getItem("utenteLoggato");

    if (!utenteLoggato) {
      window.location.href = "index.html";
    }

  }
</script>
</div>
