<div class="main-header">

  <!-- SINISTRA NAV -->
  <div class="header-left">

    <button class="nav-btn" onclick="goDashboard()">
      🏠 Dashboard
    </button>

    <button class="nav-btn back" onclick="goBack()">
      ⬅️ Indietro
    </button>

  </div>

  <!-- CENTRO LOGO -->
  <div class="header-center">

    <img src="img/logo.png" class="header-logo">

    <h1>ALBERTO MALUSCI CAMP</h1>

  </div>
<script>
  // 🔒 PROTEZIONE GLOBALE

  const currentPage = window.location.pathname;

  // Se NON siamo nella index
  if (!currentPage.includes("index.html")) {

    const utenteLoggato = sessionStorage.getItem("utenteLoggato");

    if (!utenteLoggato) {
      window.location.href = "index.html";
    }

  }
</script>
</div>

<div style="
  width:100%;
  display:flex;
  justify-content:center;
  margin-top:5px;
">
  <div id="contatoreLetture" style="
    background: linear-gradient(135deg,#ff5722,#ff7043);
    color:white;
    font-size:20px;
    font-weight:bold;
    padding:8px 25px;
    border-radius:30px;
    box-shadow:0 4px 12px rgba(0,0,0,0.25);
    letter-spacing:1px;
  ">
    🔥 LETTURE OGGI: 0
  </div>
</div>